@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
    <h4 class="mb-0">Skill Update</h4>
    @Html.HiddenFor(x=>x.ServiceId)
    <br />
    @Html.Label("Service Name")
    @Html.TextBoxFor(x=>x.Title, new{@class="form-control"})
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x=>x.Description, new{@class="form-control"})
    <br />
    <label>Icon String</label>
    @Html.TextBoxFor(x=>x.IconString,new{@class="form-control" })
    <br/>
    <button  class="btn btn-success">Submit</button>
    </div>
    </div>
    </div>
}



